@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.table-pagination {
  .pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.toast {
  display: none;
  position: fixed;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  right: 0px;
  z-index: 1100;
  width: 350px;
  background-color: #fff;
}
